@keyframes appear {
    0%{
        opacity:0;
    }
    100%{
       opacity:1;
    }
}
@keyframes disappear {
    0%{
        opacity:1;
    }
    100%{
       opacity:0;
    }
}
*  {
    margin:0;
    padding:0;
}
.mainBox {
    height: 250px;
    width:350px;
    background-color: white;
    border: 1px solid #D3D3D3;
    border-radius: 4px 4px;
    box-shadow: 2px 2px 4px 1px rgba(169,169,169,0.5);
    position: fixed;
    animation: appear 0.3s;
    top:10px;
    right:10px;
}
.mainBox .textWrapper {
    position:absolute;
    height: 150px;
    width:270px;
    border: 2px solid black;
    top:20px;
    left: 20px;
}
.mainBox .textWrapper div{
    width:100%;
    height:100%;
    font-family: 'Abel', sans-serif;
}
.mainBox  .textWrapper .hidden{
    display:none;
}
.mainBox  .textWrapper .activeDiv {
    display:block;
}
.mainBox .textWrapper *{
    padding-top: 5px;
    padding-left:7px;
    padding-right: 10px;
    font-size:14px;
}
.mainBox .textWrapper h2 {
    font-size: 16px;
}
.mainBox .footerNotification {
    position:absolute;
    top:170px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    margin-top:20px;
    background-color: rgb(247, 245, 245);
    color: rgb(169,169,169);
    min-width:100%;
}
.mainBox .footerNotification .arrows {
    display: inline-block;
}
.mainBox .footerNotification .arrows .arrow {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    height: 16px;
    width:16px;
    border: 1px solid rgba(212, 211, 211,0.7);
    background-color: white;
    color: rgb(185, 184, 184);
    border-radius: 50%;
}
.mainBox .footerNotification .arrows .arrow:hover{
    background-color: rgb(238, 237, 237);
    cursor: pointer;
    border: 1px solid rgba(212, 211, 211,0.9);
    transition: 0.25s;
}
.mainBox .footerNotification .points {
    display:inline-block;
    padding: 5px;
}
.mainBox .footerNotification .points .pointSmall{
    display:inline-block;
    min-height:6px;
    min-width:6px;
    background-color: rgb(212, 209, 209);
    border: 1px solid rgb(212, 209, 209);
    border-radius: 50%;
    margin: 15px 2px 2px 2px;
}
.mainBox .footerNotification .points .active{
    background-color: rgb(121, 135, 219);
}
.mainBox .footerNotification .points .pointSmall:hover{
    cursor: pointer;
    background-color: rgb(196, 194, 194);
    transition: 0.25s;
}
.mainBox .cross {
    position: absolute;
    top:5px;
    right:5px;
    color: #a6a7a6;
    background-color: #fcfdfc;
    border: 1px solid #f6f7f6;
    border-radius: 3px 3px;
    width:15px;
    height:15px;
    text-align: center;
    vertical-align: center;
}
.mainBox .cross:hover {
    cursor: pointer;
    background-color: #eef0ee;
    transition: 0.25s;
}
input {
    margin: 5px;
}